/*mobile Variante*/
.Gridcontainer {
  display: grid; 
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 1% 2%; 
  grid-template-areas: 
    "eins" 
    "zwei"
    "vier"
    "drei"
    "fünf" 
    "sechs"
    "acht"
    "sieben";
  align-items: center;
  margin-top: 1%;
}
p{
  hyphens: auto; 
	text-align: justify;
}
.bildcontainer img{
  width: 100%;
  height: 100%;
}
.bildcontainer{
  align-self: stretch;
}
#eins{ /*bild Geschichte*/
  grid-area: eins;
}
#zwei{ /*text Geschichte*/
  grid-area: zwei;
}
#drei{ /*text Mitarbeiter*/
  grid-area: drei;
}
#vier{ /*bild Mitarbeiter*/
  grid-area: vier;
}
#fünf{ /*bild Philosophie*/
  grid-area: fünf; 
}
#sechs{ /*text Philosophie*/
  grid-area: sechs;
}
#sieben{ /*text Adresse*/
  grid-area: sieben;
}
#acht{ /*Map Adresse*/
  grid-area: acht;
}
.map_canvas{
  overflow:hidden;
  height:100%;
  width:100%;
  border:none;
  margin: 0;
  padding: 0;
}
#acht{
  grid-area: acht;
  align-self:stretch; /*Fühlt das ganze Feld aus*/
}
h2{
  text-align: start;
}

/*Desktop/tablet*/
@media only screen and (min-width: 1200px){
  .Gridcontainer {
    display: grid; 
    width: 100%;
    grid-template-columns: repeat( auto-fit, minmax(450px, 1fr));
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 1% 2%; 
    grid-template-areas: 
      "eins zwei"
      "drei vier"
      "fünf sechs"
      "sieben acht";
    align-items: center;
    margin-top: 1%;
  }
}

