.highlight {
    display:inline-block;
    margin-bottom: 30px; 
}

div#JamesBond {
    float:left;
    width: 45%;
    height: 45%;
}

div.highlight p#beschreibung {
    padding-top: 5%;
    padding-left: 50%;
    margin-bottom: 50px;
}

strong {
    color: rgb(66, 119, 211);
}

h1 {
    color:white;
}