
section.event{
    display:flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 140%;
}
h2{
    font-size: 150%;
}
a{
    text-decoration: none;
}
p{
    hyphens: auto; 
	text-align: justify

}
.eventitem{
    display:flex;
    justify-content: center;
    gap:5%
}
.seitenelemente{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    gap: 7.5%;
}
.eventitem img{
    max-width: 550px;
    height: auto;
}

article h1{
    text-align: start;
    margin-bottom: 10px;
}

section.event h2{
    margin-bottom: 10px;
}

.eventitem .seitenelemente .button{
    font-size: 110%;
    padding: 2%;
    color: #a9b5add4;
    border: 2px solid grey;
    background-color: transparent;
}


