.Gridcontainer {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 20px 50px; 
    grid-template-areas: 
      ". ."
      ". ."
      ". .";
    align-items: center;
    margin-top: 1%;
}

p{
  hyphens: auto; 
	text-align: justify;
}