.article {
    max-width: 1200px;
    margin: auto;
}

.article1 {
    padding-bottom: 200px;
}

.article2 {
    padding-bottom: 200px;
}


.aktion {
    margin-left: 20px;
}

a img {
    padding-top: 25px;
    height: 350px;
    width: 225px;
}

div.article1 p#text {
    float:right;
    display:inline;
    vertical-align: text-top;
    color:white;
    overflow:auto;
    margin-bottom:20px;
}

h1 {
    color:rgba(248, 255, 184, 0.849);
}

strong {
    color: rgb(66, 119, 211);
}