/*Stylesheet Grundgerüst, Header(Navbar, Logo etc.), Body und Footer*/

/* mobile variante auf der alles aufbaut*/
html,body {
    width: 100%; /* füllt den ganzen Bildschirm aus */
    height: 100%; /* füllt den ganzen Bildschirm aus */
    margin: 0px; 
    padding: 0px;
    overflow-x: hidden; /*damit kein weißer Rand oder sonst was entsteht*/
    background-color: rgb(29, 28, 28);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif; /* Schriftart ist gut lesbar (barrierefreiheit), optisch ansprechend und minimalistisch */
}

article {
    margin:auto; 
    max-width: 90%;
    min-height: 100vh;
}

article p {
    font-size: 150%;
    color: #a9b5add4;
}

article h1 {
    font-size: 10vw; /*Laut Stackoverflow verändert font-size sich nicht bei %, ist dann auch nicht responsiv, aber mit vw schon 1vw = 1% of viewport width*/

}


footer {
    background-color: rgb(163, 163, 163);
    height: 5%;
    width:100%;
    color: rgba(255, 255, 255, 0.568);
}

footer ul {
    height:100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
}

footer ul li a {
    text-decoration: none;
    color: beige;
}

footer ul li a:hover {
    color: rgb(76, 68, 68);
    text-shadow: black 3px 2px 4px;
    color: beige;
    cursor: pointer;
}

main {
    width: 100%;
    color: white;
}

nav {
    display:flex;
    justify-content:center;
    width: 100%;
    gap:1%;
    padding: 2% 0;
    margin: auto;
    align-items: center;
}

nav a img {
    width:100%;
    height:100%;
}

.logo {
    width:50%;
    height:50%; 
}

nav ul li {
    list-style: none;
    width:100%;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.578),rgba(0, 0, 0, 0.394)),url(../Bilder/Sternenhimmel.jpeg) ;
    background-size: cover;
    background-position: center;
}

.currentpage { /*Hintergrundeffekt je nachdem, auf was für einer man ist*/
    color: rgb(255, 255, 255);
    text-shadow:  /* Die Pixelzahl ist der Radius */ 
    0 0 7px rgb(197, 233, 205),
    0 0 10px rgb(197, 233, 205),
    0 0 11px rgb(197, 233, 205);
}


/*Desktop Version Anpassung basierend auf der mobilen Variante*/

@media only screen and (min-width: 768px) {

    article {
        margin:auto; 
        max-width: 1200px;
        min-height: 100vh;
        margin-bottom: 1%;
    }

    article p {
        font-size: 150%;
        color: #a9b5add4;
    }
    
    article h1 {
        font-size: 70px;
        padding-top: 80px;
        
    }
    
    footer ul li a {
        text-decoration: none;
        color: beige;
    }
    
    footer ul li a:hover {
        color: rgb(76, 68, 68);
        text-shadow: black 3px 2px 4px;
        color: beige;
        cursor: pointer;
    }
    
    nav {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content:center;
        gap:35% /*Abstand zwischen Flexelemente, also Logo und Menüleiste*/
    }

    nav ul {
        width: 35%;
    }

    nav ul li {
        margin-right:5%; /*Abstand zwischen Menüleistenelemente*/
        display:inline; /*damit die Menüleistenelemente nicht als Liste angezeigt werden, sondern nebeneinander*/
        list-style: none; /*kein Stichpunkte*/
        position: relative;
    }
    
    nav ul li a {
        text-decoration: none;
        color: #ffffff;
        text-transform: uppercase;
    }
    
    nav ul li ::after { /*Unterstricheffekt basierend darauf, wo man drüberhovert*/
        content: '';
        height: 3px;
        width: 0;
        background: #b7f5f59c;
        position: absolute;
        left:0;
        bottom: -5px;
        transition: 0.5s;
    }
    
    nav ul li :hover:after {
        width:100%
    }
    
    header {
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.578),rgba(0, 0, 0, 0.394)),url(../Bilder/Sternenhimmel.jpeg) ;
        background-size: cover;
        background-position: center;
    }
    
<<<<<<< HEAD
    .logo {
        height: 20%;
        width: 20%; /*Einstellung, wie groß Logo sein*/
=======
    .logo { /*Einstellung, wie groß Logo sein*/
        height: 20%;
        width: 20%; 
>>>>>>> 2aad306082da6f488c0b3610dc8b57593bd6f0f7
        cursor: pointer;
    }

    .logo a {
        height: 100%;
        width: 100%; /*nicht verändenr*/
    }
    
    .currentpage {
        color: rgb(255, 255, 255);
        text-shadow:  /* Die Pixelzahl ist der Radius */ 
        0 0 7px rgb(197, 233, 205),
        0 0 10px rgb(197, 233, 205),
        0 0 21px rgb(197, 233, 205),
        0 0 42px rgb(197, 233, 205),
        0 0 82px rgb(197, 233, 205),
        0 0 92px rgb(197, 233, 205),
        0 0 102px rgb(197, 233, 205),
        0 0 151px rgb(197, 233, 205),
        0 0 200px rgb(197, 233, 205),
        0 0 350px rgb(197, 233, 205);
    }
}

