* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 250px; /* vh bezieht sich auf das Aussehen des Fensters */
    background-image: linear-gradient(rgba(0, 0, 0, 0.578),rgba(0, 0, 0, 0.394)),url(../Bilder/Sternenhimmel.jpeg) ;
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    height: 25vh;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 300px;
    width: 300px;
    cursor: pointer;
}

.navbar ul li {
    list-style:none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.navbar ul li ::after {
    content: '';
    height: 3px;
    width: 0;
    background: #b7f5f59c;
    position: absolute;
    left:0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li :hover:after {
    width:100%
}

.content {
    width: 100%;
    background-color:rgb(29, 28, 28);
    color:white;
}

.content h1 { 
    font-size: 70px;
    padding-top: 80px;
}

.footer {
    background-color: rgba(0, 0, 0, 0.521);
    height: 50px;
    width:100%;
    color: rgba(255, 255, 255, 0.568);
    position:absolute;
    padding-top: 30px;
}

.footer p {
    color: rgb(155, 143, 143);
}

.article {   
    margin: auto;
    max-width: 1200px;
}

.article p {
    font-size: 150%;
    color: #a9b5add4;
}

.article h1 {
    font-size: 70px;
    padding-top: 80px;
}

.navfooter {
    color: rgb(255, 255, 255);
    padding-left:25%;
    padding-right:25%;
}

.navfooter td a {
    padding:5px;
    padding-left: 25%;
    padding-right: 25%;
    text-decoration:none; /* Sonst wäre der Link unterstrichen */
    margin: left 20px;
    color: beige;
    height: 15;
}

.navfooter td a:hover {
    color: rgb(76, 68, 68);
    font-weight:10px;
    text-shadow:black 3px 2px 4px;
    color: beige;
    cursor: pointer;
}

.Programm {
    background-color: rgba(240, 255, 255, 0.231);
    height:400px;
    max-width: 1000px;
    margin-top: 30px;
}

.PTable {
    border-color: white;
    width: 100%;
    padding-top: 30px;
    margin-top: 20px;
    padding-bottom: 100px;
    border-width: 2px;
    border-style: solid none none none;
    background-color: rgba(245, 245, 220, 0);
}

.PTable td {
    background-color: rgba(255, 99, 71, 0);
    font-size: 160%;
    padding-left: 10px;
}

.PTable td  h1 {
    font-size: 130%;
    padding-top: 20px;
}

.PTable td  a {
    font-size: 100%;
    text-decoration: none;
    color: rgb(66, 119, 211);
}

.PTableDate td {
    font-size:15px;
    text-decoration: none;
    color: rgb(66, 119, 211);
    padding-left: 2px;
    height:20px;
}

.PTableTime td {
    font-size:30px;
    text-decoration: none;
    color: rgb(66, 119, 211);
    background-color: rgba(223, 220, 215, 0.857);
    border-color: transparent;
    border-width: 5px;
    text-align: center;
    height: 40px;
}

.PTableTime td  a {
    font-size: 100%;
    text-decoration: none;
    color: rgb(52, 121, 206);
    cursor: pointer; 
}

.PBild {
    box-shadow: 20px grey;
    height: 400px;
    width: 290px;
}

.PBild :hover {
    opacity: 0.7;
}
