a {
    text-decoration: none;
    color: #bbf0f7d4;
}

h1 {
    text-align: center;
    color:white;
}

h2 {
    display:block;
    font-size: 5vw;
    color:rgb(255, 255, 255);;
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: center;
}

strong {
    color:rgb(52, 121, 206);;
}


.highlights{
    display:flex;
    gap: 1%; /*Abstand zwischen Flexitems*/
    justify-content: center; /*Flexitems ordnen sich nach bedarf untereinander ab, wichtig für Responsiv Design*/
    flex-wrap:wrap;
}

.highlights a img{
    height:100%; /*nicht verändern*/
    width:100%;
}
.highlights a{
    height:400px;
    width:250px; /*Größe des a Elements, somit auch des Bildes, so gewählt, damit es auch wirklich statisch groß bleibt, damit sie später untereinander stehen und man so scrollen kann*/
}

.news {
    text-align: center;
    width: auto;
    height: auto;
}


.news img {
    display: inline-block;
    padding-top: 10px;
    width:80px;
    height:80px;
}

.news p {
    text-align: justify;
    border: solid thin rgb(52, 121, 206);;
    margin: 0;
    padding:1%;
}
.events{
    display:flex;
    flex-wrap: wrap; /*Flexitems ordnen sich nach bedarf untereinander ab, wichtig für Responsiv Design*/
    justify-content: center;
    align-items: center;
    gap:1%;
}
.events div{
    width:200px;
    height:200px;
}
.events div img{
    width:100%;
    height:100%;
}
.events p {
    border: solid thin rgb(52, 121, 206);;
    margin: 0;
    width:70%;
    padding:1%;
}

@media only screen and (min-width: 768px) {
    h2{
        font-size: 200%;
    }
}
        

